h1{

border: 1px solid black;
text-align: center;

}


img {
  width:80%;
  display: block;
  border: 5px red solid;

}

.flex-container {

display: flex;
border: 1px solid black;
height: 80vh;
width: 80vw;

}




div div{
border: 1px solid black;


}
